// Media Query
$maxMd:991px;
$maxSm:767px;
// Background Color
$bgTopNav:#2d3e50;
$bgMain:#f9f9f9;
$bgFooter:#1a1f25;
$bgButton1:#2d3e50;
$bgGray:#1a1f25;
// Font Color
$whiteColor:#fff;
$redColor:#b51d21;
$grayColor:#1a1f25;
$colorCcc:#f2f2f2;
$activeColor:#c12327;
$arColor:#ae2b2e;
$enColor:#ccc;
// Fonts Size
$fontSh2:30px;
$fontSRh2:25px;
$fontSh3:29px;
$fontSRh3:20px;
$fontSh4:25px;
$fontSRh4:18px;
$fontSp:25px;
$fontSRp:16px;
$fontSp2:20px;
$fontSRp2:16px;
// Text Align
$textAlign:right;