ol.breadcrumb {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 15px;
    li {
        a {
            color: #ccc;
            &:hover {
                color: #6c757d;
                text-decoration: none;
            }
        }
    }
}